.main
{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.globo
{
    position: absolute;
    top:35%;
    left:75%;
    background-color:transparent;
    z-index:2;
}
.background-niveles
{
    display: flex;
    flex-direction: column;
    position:absolute;
    top:2%;
    left:0.5cm;
}
.boton
{
    width: 4cm;
    height:1.5cm;
    border-radius: 6px;
    
    color: #ffffff;
    background-color: #280909;

    cursor:pointer;
    z-index: 1;
}
.botonStop
{
    width: 2cm;
    height:auto;
    border-radius: 6px;
    color: #ffffff;
    background-color: #e90000;
    cursor:pointer;
    z-index: 1;
    position: absolute;
    left:12cm;
    bottom:1cm;

}
.links {
    color: #ffffff;
    text-decoration: none;
}
#boton:hover
{
transition: all .5s ease-in-out; border-color: rgb(141, 23, 23); border-radius: 30%; border-width:4px ;
}
.instrucciones
{
    width: 10cm;
    height:auto;
    border-radius: 6px;
    
    color: #ffffff;
    background-color: #280909;

    z-index: 1;
}
.jabalina
{
/*modificar con el java*/
    position: absolute;
    top:35%;
    left:17.5%;
    background-color:transparent;
    z-index:2;
}
#container {
    position: relative;
}

.object {
    position: absolute;
}

#globo {
    width: 50px;
    height: 50px;
}